*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main-box{
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#display{
    width: 245px;
    height: 50px;
    position: relative;
    outline: none;
    text-align: right;
    padding-right: 15px;
    background-color: black;
    border-radius: 10px;
    font-size: 30px;
    background-color: lightgrey;
    border: 1px solid black;
}

#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 20%;
    gap: 8px;
    border: 1px solid transparent;
    padding: 5px;
    background-color: lightgrey;
    color: #fff;
    border-radius: 10px;
}


button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(43, 40, 40);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(34, 30, 20);
}

#total{
    
}

button:active{
    background-color: black;
}

#special{
    background-color: rgb(186, 127, 25);
}

#special:hover{
    background-color: rgb(219, 147, 15);
}

#special:active{
    background-color: rgb(255, 166, 0);
}