*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    column-gap: 20px;
}

.choice{
    height: 160px;
    width: 160px; 
    border-radius: 50%; 
    display: flex;  
    justify-content: center;
    align-items: center;
}
.choice:hover{
  scale: 1.1;
}

.choice > img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.score-card{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 90px;
    margin-top: 50px;
}

.user-score{
    font-size: 30px;
    font-weight: 600;
}

.comp-score{
    font-size: 30px;
    font-weight: 600;
}

#msg{
    margin-top: 40px;
    border: 2px solid transparent;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(232, 45, 45);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
