.content{
    color: red;
}
.new-content{
    background-color: green;
}
.dark{
    background-color: black;
    color: #fff;
}
.light{
    background-color: #fff;
    color: black;
}


/* there is a toggle button that change the mode dark to light... */

#btn{
    padding: 5px 5px;
    border: 1px solid blue;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.outer{
    width: 71px;
    height: 23px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 2px 2px;
    background-color: black;
}
